.navbar {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  align-items: center;
  margin: auto;
}

.navbar .box1 {
  display: flex;
  justify-self: left;
  padding: 10px;
}

.navbar li {
  text-decoration: none;
  padding: 5px;
  font-size: 13px;
}

.navbar2 li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 20px;
  margin: 0 20px;
}
/* 
.footer-column li {
  margin-bottom: 15px;
}

.social-media li {
  margin-right: 10px;
  font-size: 12px;
} */

.navbar3 ul li {
  list-style-type: none;
  margin: auto;
  padding: 6px;
}

.navbar .box1 li {
  list-style-type: none;
  justify-content: space-around;
  margin: 20px;
}

.navbar3 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
/* 
.social-media ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

.navbar .box2 ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.box2 {
  justify-content: center;
  margin-top: 10px;
}
/* 
.footer-column a {
  color: #333;
  text-decoration: none;
} */

.navbar2 a {
  text-decoration: none;
  color: #050505;
}

.navbar3 ul li a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
/* 
.footer-column a:hover {
  text-decoration: underline;
} */

.navbar .box2 ul a {
  text-decoration: none;
  color: #000;
}

.navbar .box3 {
  display: flex;
  justify-self: right;
  justify-content: center;
}

.navbar .box3 li {
  list-style: none;
  align-self: center;
}

.navbar .box3 li a {
  text-decoration: none;
  color: #fff;
  background-color: #4c4cd7a3;
  border-radius: 5px;
  padding: 4px;
  justify-content: center;
}

.navbar2 {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  align-items: center;
  margin: auto;
}
/* 
figure img {
  width: 35vw;
  height: 300px;
  margin: 0 0 5px 10px;
}

.logoimg img {
  max-width: 100%;
  max-height: 150px;
} */

.navbar3 {
  display: flex;
  width: 90vw;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid gray;
  border-bottom: double black;
}
